name: Run e2e Tests
on: [pull_request]

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: docker
          POSTGRES_PASSWORD: docker
          POSTGRES_DB: apisolid
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - run: npm ci
      - run: npx prisma generate
      - run: npm run test:e2e
        env:
          JWT_SECRET: testing_secret
          DATABASE_URL: "postgresql://docker:docker@localhost:5432/apisolid?schema=public"
